<!DOCTYPE html>
<html lang="zh-Hans">

<head>
  <%- partial('_partial/head') %>
</head>

<body>
  <%- partial('_partial/header') %>
  <%- body %>
  <%- partial('_partial/footer') %>
  <%- partial('_partial/scripts') %>
</body>

</html>
